{% for intf in landb.Interfaces if intf.Name|lower == ansible_hostname %}
{%     if intf.NetworkDomainName == 'TN' %}
{%         set vars = {'net_info': 'TN'} %}
{%         set subsets = exposed_sets %}
{%         set privilege = 'TN-exposed' %}
{%     else %}
{%         set vars = {'net_info': 'GPN'} %}
{%         set subsets = trusted_sets %}
{%         set privilege = 'GPN-trusted' %}
{%     endif %}
{%     if intf.BelongsToSets %}
{%         for current_set in intf.BelongsToSets %}
{%             if [ current_set ] | intersect(subsets) %}
{%                 if vars.update({'net_info': privilege}) %} {% endif %}
{%             endif %}
{%         endfor %}
{%     endif %}
================================================================================
{{ landb.DeviceName|lower }} # {{ intf.IPAddress }} # {{ vars.net_info }} # {{ (intf.InternetConnectivity and vars.net_info != 'GPN-trusted') | ternary('Internet access', 'NO Internet access') }} # {{ intf.ServiceName }}
{{ landb.Location.Building }} {{ landb.Location.Floor }}-{{ landb.Location.Room }} # {{ landb.Zone|lower }} # {{ (landb.Description) | ternary(landb.Description|lower, [landb.UserPerson.FirstName|default('')|capitalize(), landb.UserPerson.Name|default('')|upper] | join(' ')) }}
================================================================================
{% endfor %}
SYS: {{ ansible_system_vendor }} # {{ ansible_product_name }} # {{ ansible_product_serial }}
CPU: {{ ansible_processor_count }} x {{ ansible_processor[2]|striptags() }} # {{ ansible_processor_cores }} cores # {{ ansible_processor_vcpus }} threads
RAM: {{ hardware.ram_modules }} # {{ ansible_memtotal_mb }} MB
DSK: {{ hardware.disks }}
{% for pci in hardware.video %}
VID: {{ pci }} # {{ hardware.video[pci].card }} # {{ hardware.video[pci].driver }}
{%     if pci in hardware.screens %}
{%         for screen in hardware.screens[pci] %}
SCR:   {{ screen.connector }} # {{ screen.name }} # {{ screen.display_size|default('0x0') }}
{%         endfor %}
{%     endif %}
{% endfor %}
{% for intf in hardware.network if intf.state == 'up' %}
NIC: {{ intf.name }} # {{ intf.ip }} # {{ intf.speed|default('0Mb/s') }}
{% endfor %}
OS : {{ (ansible_distribution == 'Scientific') | ternary('ScientificLinux', ansible_distribution) }} # {{ distribution_version }} # {{ ansible_kernel }} # branch: {{ accadm_branch }}  # snapshot: {{ (snapshot is defined) | ternary(snapshot, 'NO') }}
UP : since {{ hardware.boot_date|default('1970-01-01 00:00') }}
================================================================================
You have committed to obey the Computing Rules (http://cern.ch/ComputingRules)
Support contact: {{ support_contact }}
================================================================================
