server {
    listen 443 ssl http2;
    server_name {{ item.name }};

    ssl_certificate ssl/server.crt;
    ssl_certificate_key ssl/server.key;

    root {{ item.dir }};
    location / {
        index index.html index.htm;
    }
    location ~ \.php$ {
        try_files $uri $document_root$fastcgi_script_name=404;
        fastcgi_pass unix:/run/php-fpm/php-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi.conf;

        # prevention for httpoxy vulnerability: https://httpoxy.org/
        fastcgi_param HTTP_PROXY "";
    }
}

