# Mount

[Unit]
Description=Mount {{ item.item.Where }}

[Mount]
What={{ item.item.What }}
Where={{ item.item.Where }}
Options={{ item.item.Options }}
LazyUnmount={{ item.item.LazyUnmount }}
TimeoutSec={{ item.item.TimeoutSec }}

[Install]
WantedBy=multi-user.target
