[Unit]
Description=accadm ansible service
Wants=systemd-networkd-wait-online.service
After=systemd-networkd-wait-online.service

[Service]
ExecStart=/opt/ansible/accadm/bin/accadm_ansible_pull.sh {{ accadm_branch|default('master') }}
Type=oneshot

[Install]
WantedBy=multi-user.target
