# /etc/resolv.conf (managed by daily playbook)
search cern.ch
nameserver 127.0.0.1
{% if on_technical_network %}
nameserver 172.18.16.5
nameserver 172.18.17.5
{% else %}
nameserver 137.138.16.5
nameserver 137.138.17.5
{% endif %}