{% if nfs_exports.nfs4_root is defined %}
{{ nfs_exports.nfs4_root }} *(ro,fsid=root,no_subtree_check)
{% endif %}
{% for export in nfs_exports.dirs %}
{{ export.path }} @{{ export.path | replace('/', '', 1) | replace('/', '_') }}_rwa(rw,no_root_squash,async,insecure,no_subtree_check) @{{ export.path | replace('/', '', 1) | replace('/', '_') }}_rw(rw,async,insecure,no_subtree_check) @{{ export.path | replace('/', '', 1) | replace('/', '_') }}_roa(ro,no_root_squash,async,insecure,no_subtree_check) @{{ export.path | replace('/', '', 1) | replace('/', '_') }}_ro(ro,async,insecure,no_subtree_check)
{% endfor %}
