# access.conf

# Add admin users
+ : root : ALL
+ : pkgbuild sddm : LOCAL

# Add specific users
{% for rule in access_rules %}
{{ rule.permission }} : {{ rule.user_group }} : {{ rule.origin }}
{% endfor %}

# Remove all other users
- : ALL : ALL
